/*.default-color1.chart-symbol {
    -fx-background-color: #a9e200;
    -fx-shape: "M0,4 L2,4 L4,8 L7,0 L9,0 L4,11 Z";
}*/
.chart-alternative-row-fill {
    -fx-fill: transparent;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}
.chart-series-line {    
    /*-fx-stroke-width: 2px;*/
    -fx-stroke-line-cap: square;
    -fx-stroke-line-join:round; 
  
}
.data*.chart-series-line{
    -fx-stroke: transparent;
    -fx-symbol-visible: false;
}
